.post{
    width: 100%;
    height: auto;
    margin: 20px 0px;
    border: 1px solid rgb(195, 195, 195);
}

.post_head {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
}

.post_head > img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post_head > p{
    flex: 1;
    padding-left: 10px;
}

.post_head > svg{
    font-size: 20px;
    margin-right: 15px;
}

.post_image{
    width: 100%;
    max-height: 700px;
    object-fit: cover;
}

.preview{
    width: 300px;
    height: 250px;
    background-color: #fff;
    position: absolute;
    top: 70px;
    border-radius: 10px;
    border: 1px solid #e4e4e4;
}

.preview > img {
    width: 33%;
    height: 50%;
}